body {
  color: white;
  background-color: rgb(58, 64, 73);
  height: 100%;
  min-height: 100%;
}
html {
  height: 100%;
  min-height: 100%;
}

#title {
  font-family: 'Poiret One', cursive;
  font-size: 70px;
  margin-bottom: 1em;
}

#quote-box {
  font-size: 18px;
  font-weight: 100;
  margin: 0 auto;
  float: initial;
  height: 3em !important;
  min-height: 3em;
}

#buttons {
  margin-top: 6em;
  float: initial;
}

#author {
  font-style: italic;
}
